osx_image: xcode9
language: objective-c
script:
- set -o pipefail && xcodebuild Example/PopcornNotify.xcworkspace -scheme PopcornNotify-Example -sdk iphonesimulator9.3 ONLY_ACTIVE_ARCH=NO
- pod lib lint
